<div class="row">
    <div class="col-sm-12 text-center">
        <h1>
            EAT DA BURGER!
        </h1>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <img alt="burger" class="burger-pic" src="assets/img/burger.jpg"></img>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            {{#each burgers}}
                {{#unless this.devoured}}
                    <div>
                        <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                            <button type="submit" class="burger-undevoured"> {{this.burger_name}}</button>
                        </form>
                    </div>
                {{/unless}}
            {{/each}}
        </div>

        <div class="col-sm-6">
            {{#each burgers}}
                {{#if this.devoured}}
                    <div class="burger-devoured">
                        <div>
                            {{this.burger_name}}
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <form action="/" class="create-burger" method="POST">
                <div class="form-group">
                    <label for="burger">
                        Burger: 
                    </label>
                    <input id="burger" name="burger" type="text"></input>
                </div>      
            </form>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-s-12 text-center">
        <h2>
            Add a Burger: 
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <form action="/burgers" method="POST">
            <input type="text" id="name" name="burger_name" placeholder="Burger">
                <button type="submit" class="addBurger">Add Burger</button>
        </form>
    </div>
</div>


